apiVersion: v1
kind: Secret
metadata:
  name: {{ include "rapp.fullname" . }}-secrets
  labels:
    {{- include "rapp.labels" . | nindent 4 }}
type: Opaque
stringData:
  sdnr-password: {{ .Values.secrets.sdnrPassword | quote }}
  influx-token: {{ .Values.secrets.influxToken | quote }}
  operators: {{ $pairs := list }}{{ range .Values.operators }}{{ $pairs = append $pairs (printf "%s:%s" .username .passwordHash) }}{{ end }}{{ join "," $pairs | quote }}
