{
  "apiProvDomInfo": "[[.Name]] provider domain",
  "apiProvFuncs": [
    {
      "apiProvFuncId": "APF_[[.Name]]_PLACEHOLDER",
      "apiProvFuncInfo": "[[.Name]] API publishing function",
      "apiProvFuncRole": "APF",
      "regInfo": { "apiProvPubKey": "NOT_USED" }
    },
    {
      "apiProvFuncId": "AEF_[[.Name]]_PLACEHOLDER",
      "apiProvFuncInfo": "[[.Name]] API exposing function",
      "apiProvFuncRole": "AEF",
      "regInfo": { "apiProvPubKey": "NOT_USED" }
    }
  ],
  "regSec": "PSK"
}
