module [[.Module]]

go 1.23

require (
	[[.SDKModule]] v[[.SDKVersion]]
	github.com/gorilla/mux v1.8.1
	github.com/sirupsen/logrus v1.9.3
)
[[if .SDKReplace]]
replace [[.SDKModule]] => [[.SDKReplace]]
[[end]]
