{
  "info_producer_id": "[[.Name]]-producer",
  "info_producer_supervision_callback_url": "http://[[.Name]].[[.Namespace]].svc.cluster.local:8080/r1/producer-health",
  "supported_info_types": ["[[.Name]]-state"],
  "info_job_callback_url": "http://[[.Name]].[[.Namespace]].svc.cluster.local:8080/r1/callback/subscription"
}
